
<ion-header>
  <ion-toolbar>
    <ion-title>Dev Sketch</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/db">
        <ion-icon slot="start" name="repeat-outline"></ion-icon>
        DB
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" draggable="true" (dragstart)="dragstart($event, 'text-input')">
        input
      </ion-button>
      <ion-button fill="solid" draggable="true" (dragstart)="dragstart($event, 'rect')">
        rect
      </ion-button>
      <ion-button fill="solid" draggable="true" (dragstart)="dragstart($event, 'data')">
        rect(invisible)
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-split-pane contentId="sketch-content" *ngIf="page_enable">
    <ion-content id="sketch-content"
      (mousedown)="mousedown($event)"
      (mousemove)="mousemove($event)"
      (mouseleave)="mouseend($event, screen.active)"
      (mouseup)="mouseend($event, screen.active)">
      <div class="screen-layout">
        <div class="screen-group">
          <div class="screen-title">{{ screen.active.name.text }} : {{ screen.active.style.width }} * {{ screen.active.style.height }}</div>
          <div class="screen"
          [style.width]="screen.active.style.width + 'px'"
          [style.height]="screen.active.style.height + 'px'">
            <div class="handle handle-remove" (click)="screen_remove(screen.active)"><ion-icon name="close-outline"></ion-icon></div>
            <div class="handle handle-right" (mousedown)="mousestart($event, screen.active, 'width')"><ion-icon name="reorder-two-outline"></ion-icon></div>
            <div class="handle handle-bottom" (mousedown)="mousestart($event, screen.active, 'height')"><ion-icon name="reorder-two-outline"></ion-icon></div>
            <div class="handle handle-right-bottom" (mousedown)="mousestart($event, screen.active, 'both')"><ion-icon name="reorder-two-outline"></ion-icon></div>
            <div
            (dragenter)="dragenter($event, screen.active)"
            (dragover)="dragover($event, screen.active)"
            (dragleave)="dragleave($event, screen.active)"
            (drop)="drop($event, screen.active)"
            class="elements">
              <ng-container *ngFor="let element of screen.active.element.list" [ngSwitch]="element.type">
                <div *ngSwitchCase="'text-input'" class="text-input"
                (mousedown)="$event.stopPropagation()"
                (click)="element_active($event, screen.active, element)"
                [class.active]="screen.active.element.active.includes(element) && !drag_el.enter"
                [style.pointer-events]="drag_el.enter ? 'none' : null"
                [style.top]="element.style.top" [style.left]="element.style.left" [style.bottom]="element.style.bottom" [style.right]="element.style.right"
                [style.height]="element.style.height" [style.width]="element.style.width">
                  <input
                  [(ngModel)]="element.value" (keyup)="api.insert_sketch_data(screen.active)"
                  [style.paddingLeft]="element.style.paddingLeft" [style.paddingRight]="element.style.paddingRight" [style.paddingTop]="element.style.paddingTop" [style.paddingBottom]="element.style.paddingBottom">
                  <ng-container *ngIf="screen.active.element.active.includes(element) && !drag_el.enter">
                    <div class="edit-line edit-top-line" (mousedown)="mousestart($event, element, 'move')"></div>
                    <div class="edit-line edit-bottom-line" (mousedown)="mousestart($event, element, 'move')"></div>
                    <div class="edit-line edit-right-line" (mousedown)="mousestart($event, element, 'move')"></div>
                    <div class="edit-line edit-left-line" (mousedown)="mousestart($event, element, 'move')"></div>
                    <div class="edit-dot edit-dot-top" (mousedown)="mousestart($event, element, 'scale-top')"></div>
                    <div class="edit-dot edit-dot-bottom" (mousedown)="mousestart($event, element, 'scale-bottom')"></div>
                    <div class="edit-dot edit-dot-right" (mousedown)="mousestart($event, element, 'scale-right')"></div>
                    <div class="edit-dot edit-dot-left" (mousedown)="mousestart($event, element, 'scale-left')"></div>
                    <div class="element-id">
                      <input [(ngModel)]="element.id" placeholder="element id">
                    </div>
                  </ng-container>
                </div>
                <button *ngSwitchCase="'rect'" class="button"
                (mousedown)="$event.stopPropagation()"
                (click)="element_active($event, screen.active, element);"
                [class.active]="screen.active.element.active.includes(element) && !drag_el.enter"
                [style.pointer-events]="drag_el.enter ? 'none' : null"
                [style.top]="element.style.top" [style.left]="element.style.left" [style.bottom]="element.style.bottom" [style.right]="element.style.right"
                [style.height]="element.style.height" [style.width]="element.style.width">
                  <input
                  [(ngModel)]="element.value" (keyup)="api.insert_sketch_data(screen.active)"
                  [style.paddingLeft]="element.style.paddingLeft" [style.paddingRight]="element.style.paddingRight" [style.paddingTop]="element.style.paddingTop" [style.paddingBottom]="element.style.paddingBottom"
                  (click)="event_provoke('click', screen.active, element)">
                  <div class="edit-line edit-top-line" (mousedown)="mousestart($event, element, 'move')"></div>
                  <div class="edit-line edit-bottom-line" (mousedown)="mousestart($event, element, 'move')"></div>
                  <div class="edit-line edit-right-line" (mousedown)="mousestart($event, element, 'move')"></div>
                  <div class="edit-line edit-left-line" (mousedown)="mousestart($event, element, 'move')"></div>
                  <div class="edit-dot edit-dot-top" (mousedown)="mousestart($event, element, 'scale-top')"></div>
                  <div class="edit-dot edit-dot-bottom" (mousedown)="mousestart($event, element, 'scale-bottom')"></div>
                  <div class="edit-dot edit-dot-right" (mousedown)="mousestart($event, element, 'scale-right')"></div>
                  <div class="edit-dot edit-dot-left" (mousedown)="mousestart($event, element, 'scale-left')"></div>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-menu menuId="sketch-menu" contentId="sketch-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Screens</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="screen_add()">
              <ion-icon slot="start" name="add-outline"></ion-icon>
              add
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ng-container *ngFor="let screen of screen.list; let i = index;">
            <ion-item *ngIf="!screen.name.edit" class="screen-list-item" button (click)="screen_active(screen)">
              <ion-label>{{ screen.name.text }}</ion-label>
              <ion-button slot="end" fill="clear" color="dark" (click)="screen_more($event, screen, i)">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item *ngIf="screen.name.edit" class="screen-list-item">
              <ion-label>
                <input placeholder="untitled" [(ngModel)]="screen.name.edit_text" (keyup.enter)="screen_edit_save(screen)">
              </ion-label>
              <div slot="end">
                <ion-button fill="clear" color="dark" (click)="screen_edit_cancel(screen)">
                  cancel
                </ion-button>
                <ion-button fill="clear" color="dark" (click)="screen_edit_save(screen)">
                  save
                </ion-button>
              </div>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-menu menuId="screen-detail-menu" contentId="sketch-content" side="end" class="screen-detail-menu">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ element_menu.type }}</ion-title>
          <ion-buttons slot="end">
            <ion-button *ngIf="element_menu.type === 'Details'" (click)="element_menu.type = 'Description'">
              <ion-icon slot="start" name="repeat-outline"></ion-icon>
              Description
            </ion-button>
            <ion-button *ngIf="element_menu.type === 'Description'" (click)="element_menu.type = 'Details'">
              <ion-icon slot="start" name="repeat-outline"></ion-icon>
              Details
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="element_menu.type === 'Details'">
        <ng-container *ngIf="screen.active?.element.active.length">
          <ion-list>
            <ion-list-header>Element Styles</ion-list-header>
            <ion-list-header>Element Events</ion-list-header>
            <ion-item>
              <ion-label>click</ion-label>
              <ion-button slot="end" fill="clear" (click)="event_add($event, 'click')">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <ng-container *ngFor="let event of this.screen.active.element.active[this.screen.active.element.active.length-1].events['click']">
              <ion-item class="event-item">
                <ion-label>
                  <p>{{ event.type }}</p>
                  <ion-grid *ngFor="let data of event.event.data; let i = index; let l = last;">
                    <ion-row>
                      <ion-col>
                        DB:
                      </ion-col>
                      <ion-col>
                        <input placeholder="DB name" [(ngModel)]="data.db" (keyup)="event_set_data_id(this.screen.active, event.event.data, data, i, l)">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        id:
                      </ion-col>
                      <ion-col>
                        <input placeholder="drag or write element id" [(ngModel)]="data.id" (keyup)="event_set_data_id(this.screen.active, event.event.data, data, i, l)">
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </ng-container>
        <ng-container *ngIf="!screen.active?.element.active.length">
          <ion-list>
            <ion-list-header>Screen Styles</ion-list-header>
            <ion-list-header>Screen Events</ion-list-header>
            <ion-item>
              <ion-label>init</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>enter</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>leave</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>destroy</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
      </ion-content>
      <ion-content *ngIf="element_menu.type === 'Description'">
        <textarea [(ngModel)]="element_menu.description"></textarea>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-content>